my-project/.phpunit.cache
my-project/node_modules
my-project/public/build
my-project/public/hot
my-project/public/storage
my-project/storage/*.key
my-project/vendor
my-project/.env
my-project/.env.backup
.env.production
my-project/.phpunit.result.cache
my-project/Homestead.json
my-project/Homestead.yaml
my-project/auth.json
my-project/npm-debug.log
my-project/yarn-error.log
my-project/.fleet
my-project/.idea
my-project/.vscode
.env